body {
  margin: 0;
  font-family: sans-serif;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
}

header {
  background-color: rgb(212, 50, 50);
  color: #fff;
  padding: 50px 30px 50px 30px;
  
}

header .topbar {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; */
  display: flex;
  flex-direction: column;
}

header a {
  color: #fff;
}

.search-container {
  text-align: center;
  /* margin-top: 40px; */
}

.search {
  background-color: #fff;
  padding: 30px;
  display: inline-block;
}

.search-form {
  display: flex;
  gap: 20px;
}

.left-bar {
  display: flex;
  flex-direction: column;
}

.library {
  flex-grow: 1;
}

@media (min-width: 600px) {
  .topbar {
    display: flex;
    gap: 20px;
  }
}

.topbar .navigation {
  flex-grow: 1;
}

.topbar .navigation ol {
  display: flex;
  gap: 20px;
}

.profile svg {
  width: 15px;
  /* fill: #fff; */
}

.search svg {
  width: 15px;
  fill: #000;
}

.movie-list {
  margin: 30px;
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-columns: 26%; */
  gap: 20px;
  overflow-x: auto;
  /* overscroll-behavior-inline: contain; */
}

.movie-card {
  width: 100%;
  border-radius: 25px;
  max-height: 250px;
  max-width: 150px;
}

.movie-details {
  position: relative;
}

/* .movie-text-box {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  backdrop-filter: blur(30px); 
} */

.movie-poster {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
  /* padding: 5px; */
}

/* @media (min-width: 600px) {
  .movie-card {
    display: flex;
    gap: 20px;
  }
  .movie-card {
    text-align: center;
    width: 70px;
  }
} */

footer {
  background-color: rgb(51, 51, 51);
  color: #fff;
  padding: 50px 30px 50px 30px;
}

@media (min-width: 600px) {
  footer {
    display: flex;
  }

  footer div {
    flex-grow: 1;
  }
}

footer h4 {
  margin: 0;
}

footer a {
  color: #fff;
}

.genre-pill {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

