* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(135deg, hsla(0, 0%, 12%, 1) 50%, hsla(0, 0%, 40%, 1) 100%);
  color: #fff;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior: none;
  padding: 10px;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

.main-page {
  display:flex;
  flex-direction: column;
}

.search-page {
  display:flex;
  flex-direction: column;
}

header {
  color: #fff;

}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 34px;
  color: white;
  flex: 1;
}

.search-wrapper {
  display: flex;
  width:100%;
  align-self: flex-end;
  padding: 20px;
  min-width: 350px;
  max-width: 500px;
  margin: 0 auto;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
}

.search-wrapper {
  width: 100%;
  padding: 0 20px;
}

.search-container {
  width: 100%;
}

.search input {
  border-radius: 25px;
  padding: 12px;
  width: 100%;
  background-color: #3e3e3e;
  color: #000;
}

.search-form {
  display: flex;
  gap: 10px;
  background-color: #3e3e3e;
  border-radius: 25px;
}

.search svg {
  width: 15px;
  fill: #fff;
}


/* mobile */
@media (max-width: 768px) {

  .topbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .nav-bar-wrapper {
    justify-self: flex-end;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0px;
    position: relative;
    display: inline-block;
  }

  .hamburger {
    display: block;
  }

  .hamburger svg {
    width: 15px;
    fill: #fff;
  }

  .nav-links {
    display: none;
    right: 0;
    background-color: #333;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .nav-links.active {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 14px;
    z-index: 1;
    top: 100%;
    width: 100vw;
    margin-top: 10px;
    right: -180%;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .nav-links a {
    color: #9f9e9e;
    text-decoration: none;
  }

  .nav-links a.active {
    color: #fff; /* Highlight active link */
    font-weight: bold;
  }
  
  .filter-container svg{
  width: 15px;
  fill: #fff;
  }

  .genre-list.active {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 14px;
    z-index: 1;
    top: 100%;
    width: 100vw;
    margin-left: -81vw;
    left: -100%;
    margin-top: 10px;
  }

  .home-content .inner-movie-list {
    margin: 10px 20px;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    max-width: 100%;
    overflow-x: auto;
    max-height: 225px;
  }

  .right-bar .inner-movie-list {
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    min-height: 325px;
    max-height: 600px;
  }

  .movie-card {
    width: 100%;
    border-radius: 25px;
    min-height: 200px;
    max-height: 200px;
    min-width: 125px;
    max-width: 125px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }

  .movie-details-wrapper {
    display: flex;
    flex-direction: column;
  }

  .cast-list {
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding: 0px 20px;
    overflow-y: auto;
    max-height: 150px;
    scrollbar-width: none;
  }

  .actor-poster {
    width: 100px;
    height: 100px;
    object-position: 50% 20%;
    border-radius: 50%;
    object-fit: cover;
  }



}

/* Medium devices */ 
@media (min-width: 768px) and (max-width: 1023px) { 
  
  .nav-container {
    display: flex;
    justify-content: space-between; /* Ensures space between logo and nav links */
    align-items: center; /* Vertically center items */
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .hamburger {
    display: none;
  }
  
  .nav-links {
    display: flex;
    gap: 30px; /* Space between each link */
    justify-content: center; /* Centers the links */
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #9f9e9e;
    padding: 10px;
    position: relative;
  }
  
  .nav-links a.active {
    color: #fff; /* Highlight active link */
    font-weight: bold;
  }
  
  .nav-links a::before {
    content: '';
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  
  .nav-container a:hover::before {
    bottom: 0;
    height: 100%;
  }

  .home-content .inner-movie-list {
    margin: 10px 20px;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    max-width: 100%;
    overflow-x: auto;
    min-height: 320px;
    padding-bottom: 50px;
  }

  .right-bar .inner-movie-list {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 20px;
    overflow-y: auto;
    min-height: 325px;
    max-height: 600px;
  }

  .left-bar {
    max-width: 250px;
  }

  .movie-card {
    width: 100%;
    border-radius: 25px;
    min-height: 325px;
    max-height: 325px;
    min-width: 200px;
    max-width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }

  .filter-arrow {
    display: none;
  }

  .cast-list {
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding: 0px 20px;
    overflow-y: auto;
    min-height: 320px;
    scrollbar-width: none;
  }

  .actor-poster {
    width: 150px;
    height: 150px;
    object-position: 50% 20%;
  
    /* object-fit: contain; */
    border-radius: 50%;
    object-fit: cover;
  }
  .actor-text-box {
    font-size: 10px;
  }

}


/*laptops*/
@media (min-width: 1024px) {
  .nav-container {
    display: flex;
    justify-content: space-between; /* Ensures space between logo and nav links */
    align-items: center; /* Vertically center items */
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .hamburger {
    display: none;
  }
  
  .nav-links {
    display: flex;
    gap: 30px; /* Space between each link */
    justify-content: center; /* Centers the links */
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #9f9e9e;
    padding: 10px;
    position: relative;
  }
  
  .nav-links a.active {
    color: #fff; /* Highlight active link */
    font-weight: bold;
  }
  
  .nav-links a::before {
    content: '';
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  
  .nav-container a:hover::before {
    bottom: 0;
    height: 100%;
  }

  .search-wrapper {
    min-width: 700px;
  }

  .movie-card:hover {
    transform: scale(1.1); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }
  .home-content .inner-movie-list {
    margin: 10px 20px;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    max-width: 100%;
    overflow-x: auto;
    min-height: 320px;
    padding-bottom: 50px;
  }

  .left-bar {
    max-width: 250px;
  }

  .right-bar .inner-movie-list {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 20px;
    overflow-y: auto;
    min-height: 325px;
    max-height: 600px;
  }

  .movie-card {
    width: 100%;
    border-radius: 25px;
    min-height: 300px;
    max-height: 300px;
    min-width: 200px;
    max-width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }

  .filter-arrow {
    display: none;
  }

  .cast-list {
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding: 0px 20px;
    overflow-y: auto;
    min-height: 320px;
    scrollbar-width: none;
  }

  .actor-poster {
    width: 150px;
    height: 150px;
    object-position: 50% 20%;
  
    /* object-fit: contain; */
    border-radius: 50%;
    object-fit: cover;
  }
}


.movie-card-wrapper {
  position: relative;
}

.bookmark-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.like-button svg {
  width: 15px;
  fill: #fff;
}

.search input {
  align-items: center;
  border-radius: 25px;
  padding: 12px;
  border: none;
}

.search input::placeholder{
  color: #fff;
}

.search input:focus {
  outline: none;
}

.search button {
  align-items: center;
  border-radius: 25px;
  padding: 12px;
  cursor: pointer;
  border: none;
  background-color: #3e3e3e;
}

.drop-down {
  display: block;
  position: absolute;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  border: none;
  margin-top: 5px;
  background-color: #1E1E1E;
}



h2 {
  padding-left: 20px;
}

.movie-details {
  position: relative;
}

.movie-poster {
  min-height: 200px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.movie-background-box {
  position: absolute;
  top: 100%;
  transform: translate(0, -105%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.movie-text-box {
  position: relative;
  padding: 10px;
}

.movie-text-box a .li {
  color: #fff;
  opacity: 1;
  padding: 10px;
}

.movie-text-box .movie-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 75%;
}


footer {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  color: #fff;
  padding: 20px;

}


  footer {
    display: flex;
  }

footer div {
    flex-grow: 1;
  }


footer h4 {
  margin: 0;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
}
.genre-pill {
  background-color: #4e4e4e;
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  height: auto;
  font-size: small;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.genre-pill.selected {
  background-color: red; /* Green background for selected state */
  color: white; /* White text color for selected state */
}

.genre-pill .checkmark {
  width: 15px;
  fill: #fff;
  margin-left: 5px;
}

.genre-pill .plus {
  width: 15px;
  fill: #fff;
  margin-left: 5px;
}

.movie-content {
display: flex;
flex-direction: row;
}

.left-bar {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.right-bar {
  grid-column: 2 / span 1;
}

.like-button {
  background-color: transparent;
  height: auto;
  font-size: small;
  cursor: pointer;
  border: none;
}

.like-button.favourited {

  color: white; 
}

.watchlist-main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.watchlist-footer {
  margin-top: auto;
}

/*movie information page */

.movie-details-page {
  display: flex;
  flex-direction: column;
  padding:  0 20px;
}

.movie-details-wrapper {
  display: flex;
}

.movie-details-text-wrapper {
  position: relative;
}

.movie-details-text {
  display: flex;
  flex-direction: column;
}

.movie-information {
  display: flex;
  align-items: center;
}

.movie-information h3 {
  padding-right: 10px;
}

.movie-information-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.release-year p {
  background-color: #3e3e3e;
  color: #fff;
  padding: 10px;
  border-radius: 25px;
}

.imdb-rating p {
  background-color: #3e3e3e;
  color: #fff;
  padding: 10px;
  border-radius: 25px;
}

.movie-details-page .home-content {
  padding-top: 50px;
}

.tmdb-logo {
  padding: 10px;
}

.inner-movie-list::-webkit-scrollbar {
  display: none;
}

.inner-movie-list {
  scrollbar-width: none;
}

.alert {
  position: fixed;
  top: -50px;
  right: 5px;
  background-color: #3d3d3d;
  color: #f2f0f0;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.actor-poster-container {
  /* width: 150px;
  height: 150px; */
}


